logs
*.log
npm-debug.log*

*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.mov
*.webm
*.org

pids
*.pid
*.seed
*.pid.lock

src/fonts/
src/scripts/
build/
node_modules/
.cache/
public/
static/

.prettierrc
.prettierignore
.npm
.node_repl_history
*.tgz
.env*
