@tailwind base;
@tailwind components;

@font-face {
  font-family: "Akkurat";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/akkurat-mono.woff");
}

@font-face {
  font-family: "Fakt";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FaktPro-Normal.woff");
}

@font-face {
  font-family: "Fakt";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/FaktPro-NormalItalic.woff");
}

@font-face {
  font-family: "Fakt";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/FaktPro-SemiBold.woff");
}

@font-face {
  font-family: "Neue Pixel Grotesk";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NeuePixelGrotesk.woff");
}

@tailwind utilities;

.gatsby-resp-image-wrapper {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  width: 100%;
  height: 100%;
}

.p5Canvas {
  overflow: hidden;
  pointer-events: none;
  -webkit-transform: translate3d(0, 0, 0);
}

body,
html {
  /* overflow: hidden; */
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  /* font-smooth: never; */
  /* -webkit-font-smoothing: none; */
}
pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  font-size: 1.1rem;
}

code {
  font-size: 1.1rem;
  text-shadow: none;
  font-family: "Akkurat", monospace;
  line-height: 1.5;
}
